* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    font-family: 'Rubik';
}

.character{
    height: 150px;
    width: 150px;
    position: relative;
}

#header_title{
    color:white;
    position: relative;
    font-size: 15px;
}

.header_gui{
    width: 100%;   
    background-color: rgb(12, 12, 12); 
    position: relative;
   
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border-color: darkslategray;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);  
    position: relative;
}

.tabs ul{
    width: auto; 
    display:flex;
    justify-content: space-evenly;
    flex-direction: row; 
    position: relative;  
}

.tabs ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    position: relative;
    padding: 10px;
}

.banner{
    background-image: url(Pictures/floating\ cuties.gif);
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 200px;
    background-color: white;
}


  .topBody_gui{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color: black;   
    padding: 2%;
    
}


.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    width: 100%; /* this increases the size of the video ITSELF! (so just change this all the time)*/
    height: 0;     
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   /* this increases the size of the video CONTAINER by width and height */
    height: 100%
}

.topBody_text{
    padding: 1%;
    color: white;
    font-size: 35px;
    flex-basis: 45%;
  }


.button_download{
  justify-content: center;
  align-items: center;
  display: flex;
  background: red; 
  width: 400px;
  height: 100px;
  border-radius: 5px;
  color: white;
  font-size: 30px;
  text-decoration: none;
}


.bottomBody_gui{
    display: flex;
    align-items: center;

    /* flex-direction: row; */

    /* padding: 2%; */

    background-color: black;     

    /* flex-wrap: wrap;
    flex-grow: 1;     */
}

.bottomBody_pic img{

    max-width: 100%;
    text-align: ;
}

.bottomBody_text{
    /* display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
    text-align: center;
    padding: 1%;
    color: white;
    font-size: 35px;
    flex-basis: 45%;

}



.button_ref{
    /* justify-content: center;
    align-items: center;
    display: flex; */

    width: 400px;
    height: 150px;
    border-radius: 5px;
    color: darkslategray;
    font-size: 40px;
}



.media{
    display: flex;
    position: relative;

    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    background-color: black;
    color:white;
    font-size: 25px;
}

#media_message{
    padding: 0.5%;
}

.media_links ul{
    padding: 25px;
    width: 500px; 
    display:flex;
    justify-content: space-evenly;
    flex-direction: row; 
    position: relative;
    list-style-type: none;  
}

.media_links ul li a{
    padding: 0 35px;
    color: white;
    text-decoration: none;
    font-size: 35px;    
    position: relative;
    border-radius: 50%;
    transition: all 0.5s ease;
 
}

.media_links ul li a:hover{
    color:#24262b;
  
}


/******************************************************************************************************************/

.first_sector{
    display: flex;
    /* justify-content: center;
    justify-content: space-evenly; */
    align-items: center;
    /* flex-direction: row; */
    
    padding: 2%;

    background-color: #151414;     

    /* flex-wrap: wrap;
    flex-grow: 1;*/
}

.first_pic img, .second_pic img, .third_pic img, .fourth_pic img, .fifth_pic img, .last_pic img{

    max-width: 100% ;
}

.first_pic, .second_pic, .third_pic, .fourth_pic, .fifth_pic, .last_pic{

    flex: 50%;
}

/* .first_pic img{

    height: 650px;
    width: auto;
} */

.first_text{

    align-items: center;
    text-align: center;
    

    padding: 1%;
    color: white;
    font-size: 35px;
    flex: 50%; 
}

.second_sector{
    display: flex;
    /* justify-content: center;
    justify-content: space-evenly; */
    align-items: center;
    /* flex-direction: row; */

    padding: 2%;

    background-color: black;     

    /* flex-wrap: wrap;
    flex-grow: 1; */
}

/* .second_pic img{

    height: 650px;
    width: 970px;
} */

.second_text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    

    padding: 1%;
    color: white;
    font-size: 35px;
    flex: 50%; 
}




.third_sector{
    display: flex;
    /* justify-content: center;
    justify-content: space-evenly; */
    align-items: center;
    /* flex-direction: row; */

    padding: 2%;

    background-color: #151414;     

    /* flex-wrap: wrap;
    flex-grow: 1; */
}

/* .third_pic img{

    height: 650px;
    width: 970px;
} */

.third_text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    

    padding: 1%;
    color: white;
    font-size: 35px;
    flex: 50%;
}

.fourth_sector{
    display: flex;
    /* justify-content: center;
    justify-content: space-evenly; */
    align-items: center;
    /* flex-direction: row; */

    padding: 2%;

    background-color: black;     

    /* flex-wrap: wrap;
    flex-grow: 1; */
}

/* .fourth_pic img{

    height: 650px;
    width: 970px;
} */

.fourth_text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    

    padding: 1%;
    color: white;
    font-size: 35px;
    flex: 50%; 
}



.fifth_sector{
    display: flex;
    /* justify-content: center;
    justify-content: space-evenly; */
    align-items: center;
    /* flex-direction: row; */

    padding: 2%;

    background-color: #151414;     

    /* flex-wrap: wrap;
    flex-grow: 1; */
}

/* .fifth_pic img{

    height: 650px;
    width: 970px;
} */

.fifth_text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    

    padding: 1%;
    color: white;
    font-size: 35px;
    flex: 50%;
}

.last_sector{
    display: flex;
    /* justify-content: center;
    justify-content: space-evenly; */
    align-items: center;
    /* flex-direction: row; */

    padding: 2%;
    background-color: black;     

    /* flex-wrap: wrap;
    flex-grow: 1; */
}

/* .last_pic img{

    height: 650px;
    width: 970px;
} */

.last_text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    

    padding: 1%;
    color: white;
    font-size: 35px;
    flex: 50%;
}


.more_info{
    background-color: red;
    color: white;
    font-size: 35px;

    display:flex;
    justify-content: center;  
    
}

.more_wiki a{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 1%;
    color: white; 
    text-decoration: none;      

}

/**************************************************************************************/

.VR_container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;

    background-color: black;
}

.VR_picturesTop{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;

}

.VR_picturesBot{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.VR_text{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3%;

    background-color: black;
    color: white;
}

#VR_title{
    font-size: 25px;
    padding: 2%;
}

#VR_para{
    font-size: 25px;
    padding: 2%;
}

.button_VR{
    justify-content: center;
    align-items: center;
    display: flex;
    background: green; 
    width: 400px;
    height: 100px;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.first img, .second img, .third img, .fourth img{

    max-width: 100% ;
}

/* .first img{
    height:1000px;
    width: 1100px;
}

.second img{
    height: 1000px;
    width: 1100px;
}

.third img{
    height:1000px;
    width: 900px;
}

.fourth img{
    height:1000px;
    width: 1300px;
} */

@media only screen and (max-width: 768px) {

img{

    max-width: 100%;
    height: auto;
}

.bottomBody_gui{
    display: inherit;
}

.first_sector{
    display: inherit;
}

.bottomBody_text{
    font-size: 25px;
}

.last_sector, .first_sector, .second_sector, .third_sector, .fourth_sector, .fifth_sector{

    display: inherit;
}

/* This is a flex shorthand */
/* we set 
flex-grow: 1; 
flex-basis: 21%;
Flex shorthand: https://developer.mozilla.org/en-US/docs/Web/CSS/flex
Understand flex grow: https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow
*/
