* {
	margin: 0;
    padding: 0;
}

.character{
    height: 150px;
    width: 150px;
    position: relative;
}

#header_title{
    color:white;
    position: relative;
}

.header_gui{
    width: 100%;   
    background-color: black; 
    position: relative;
   
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border-color: darkslategray;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);  
    position: relative;
}

.tabs ul{
    width: 500px; 
    display:flex;
    justify-content: space-evenly;
    flex-direction: row; 
    position: relative;  
}

.tabs ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

.banner{
    background-image: url(Pictures/floating\ cuties.gif);
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 200px;
    background-color: white;
}


  .topBody_gui{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color: black;   
    padding: 2%;
    flex-wrap: wrap;
    flex-grow: 1;  
}


.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    width: 100%; /* this increases the size of the video ITSELF! (so just change this all the time)*/
    height: 0;     
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   /* this increases the size of the video CONTAINER by width and height */
    height: 100%
}

.topBody_text{
    padding: 1%;
    color: white;
    font-size: 35px;
    flex-basis: 45%;
  }


.button_download{
  justify-content: center;
  align-items: center;
  display: flex;
  background: red; 
  width: 400px;
  height: 100px;
  border-radius: 5px;
  color: white;
  font-size: 30px;
  text-decoration: none;
}


.bottomBody_gui{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    padding: 4%;

    background-color: black;     

    flex-wrap: wrap;
    flex-grow: 1;    
}

.bottomBody_text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    

    padding: 1%;
    color: white;
    font-size: 50px;
    flex-basis: 45%;

}

.bottomBody_pic img{

    height: 650px;
    width: 800px;
}

.button_ref{
    justify-content: center;
    align-items: center;
    display: flex;

    width: 400px;
    height: 150px;
    border-radius: 5px;
    color: darkslategray;
    font-size: 20px;
}


.media{
    display: flex;
    position: relative;

    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    background-color: black;
    color:white;
    font-size: 25px;
}

.media_links ul{
    padding: 25px;
    width: 500px; 
    display:flex;
    justify-content: space-evenly;
    flex-direction: row; 
    position: relative;
    list-style-type: none;  
}

.media_links ul li a{
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 25px;    
    position: relative;
}

/******************************************************************************************************************/

.first_sector{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    padding: 2%;

    background-color: #151414;     

    flex-wrap: wrap;
    flex-grow: 1;
}

.first_pic img{

    height: 650px;
    width: 970px;
}

.first_text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    

    padding: 1%;
    color: white;
    font-size: 50px;
    flex-basis: 45%; 
}

.second_sector{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    padding: 2%;

    background-color: black;     

    flex-wrap: wrap;
    flex-grow: 1;
}

.second_pic img{

    height: 650px;
    width: 970px;
}

.second_text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    

    padding: 1%;
    color: white;
    font-size: 50px;
    flex-basis: 45%; 
}



